<nav class="navbar navbar-dark bg-primary shadow-sm ">
  <a class="navbar-brand" [routerLink]="['/']" ><i class="fas fa-plane"></i> MonAéroport.fr</a>
  <span class="navbar-brand">
    {{selectedAirport.icao}} - {{selectedAirport.name}}
  </span>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" [routerLink]="['trafic']" routerLinkActive="active" class="btn btn-outline-light"><i class="fas fa-plane"></i> Trafic</button>
    <button type="button" [routerLink]="['retards']" routerLinkActive="active" class="btn btn-outline-light"><i class="fas fa-clock"></i> Retards</button>
    <button type="button" disabled [routerLink]="['emissions']" routerLinkActive="active" class="btn btn-outline-light"><i class="fas fa-cloud"></i> Emissions</button>
  </div>

  <monapt-search></monapt-search>
  <button disabled class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-info"></i></button>
</nav>