<div class="container" style="margin-top: 1em;" *ngIf="alert">
    <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</div>

<div class="container-fluid" style="margin-top:1em;" *ngIf="cube">

  <div class="row">
    <div class="col-lg-6">
      <monapt-card-line-chart title="Evolution du retard moyen au départ (en minutes)" [labels]="evolutionLabels" [datasets]="evolutionDatasets">
      </monapt-card-line-chart>
    </div>
    <div class="col-lg-6">
      <monapt-card-line-chart title="Evolution du retard moyen à l'arrivée (en minutes)" [labels]="evolutionLabels" [datasets]="evolutionDatasetsArr">
      </monapt-card-line-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <monapt-card-raw-data title="Données brutes" [labels]="labels" [data]="cube.rows">
      </monapt-card-raw-data>
    </div>
  </div>
</div>