<div class="container" style="margin-top: 1em;" *ngIf="alert">
    <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</div>

<div class="container-fluid" style="margin-top:1em;" *ngIf="cube">
  <div class="card-columns">

    <monapt-card-line-chart title="Evolution du retard moyen au départ (en minutes)" [labels]="evolutionLabels" [datasets]="evolutionDatasets">
    </monapt-card-line-chart>
    
    <monapt-card-raw-data title="Données brutes" [labels]="labels" [data]="cube.rows">
    </monapt-card-raw-data>

    <monapt-card-line-chart title="Evolution du retard moyen à l'arrivée (en minutes)" [labels]="evolutionLabels" [datasets]="evolutionDatasetsArr">
    </monapt-card-line-chart>

  </div>
</div>