<monapt-navbar></monapt-navbar>

<div class="container" style="padding-top: 2em">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-clock"></i> Origine du projet
    </div>
    <div class="card-body">
      <p>
        Ce site internet a été réalisé par <a target="_blank" href="https://twitter.com/simonhege">Simon HEGE</a> dans le cadre du concours 
        Datavizz organisé lors des assises du transport aérien par la 
        <a target="_blank" href="https://www.ecologique-solidaire.gouv.fr/direction-generale-laviation-civile-dgac">Direction Générale de l'Aviation Civile (DGAC)</a>.
      </p>
      <p>
        Cette aplication a reçue le <a href="https://twitter.com/DGAC/status/1001850025037660160">premier prix.</a>
      </p>
      <blockquote>
          Elle a séduit le jury par sa capacité à présenter de façon claire, intuitive et accessible, y compris pour des non spécialistes, les données essentielles relatives au trafic aérien 
      </blockquote>
      <p>
        Si vous rencontrez un problème, n'hésitez pas à le signaler, ou même à le corriger sur le <a target="_blank" href="https://github.com/xdbsoft/monaeroport">dépot Github</a> du projet.
      </p>
    </div>
  </div>
</div>


<div class="container" style="padding-top: 2em">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-balance-scale"></i> Mentions légales
    </div>
    <div class="card-body">
      <p>
        Ce site internet est hébergé par <a target="_blank" href="https://netlify.com">Netlify, Inc</a>, 2325 3rd Street, Suite 215, San Francisco, 94107 CA.
      </p>
      <p>
        Le nom de domaine est administré par <a target="_blank" href="https://gandi.net">Gandi SAS</a>, 63, 65 Boulevard Massena, 75013 Paris, France.
      </p>
      <p>
        Ce site internet ne dépose pas de cookies. L'hébergeur peut être amené à collecter des données personnelles. <a href="https://www.netlify.com/gdpr/">https://www.netlify.com/gdpr/</a>
      </p>
      <p>
        Le code source de ce site est disponible sous licence MIT à l'adresse 
        <a target="_blank" href="https://github.com/xdbsoft/monaeroport">https://github.com/xdbsoft/monaeroport</a>.
        Conformément au règlement du concours, L'Organisateur (le  Ministère et sa  Direction Général de 
        l’Aviation 
        Civile) demeure titulaire de tous les droits
        sur les données d'études soumises aux Participants
        dans le cadre du 
       concours. 
      </p>
    </div>
  </div>
</div>