<div class="container" style="margin-top: 1em;" *ngIf="alert">
    <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
</div>

<div class="container-fluid" style="margin-top:1em;" *ngIf="cube">

    <div class="row">
      <div class="col-lg-12">

        <monapt-card title="Evolution des émissions par équivalent passager" iconClasses="fas fa-chart-line">
          <div>
            <canvas baseChart
                [datasets]="evolutionDatasets"
                [labels]="evolutionLabels"
                [options]="config.options"
                [chartType]="config.chartType"
                [legend]="config.legend"
            ></canvas>
          </div>
        </monapt-card>

        <monapt-card title="Graphique personnalisé" iconClasses="fas fa-chart-pie">
          <div>
            <monapt-dynpiechart [cube]="cube"></monapt-dynpiechart>
          </div>
        </monapt-card>
        
      </div>
    </div>

  <div class="row">
    <div class="col-lg-12">
      <monapt-card-raw-data title="Données brutes" [labels]="labels" [data]="cube">
      </monapt-card-raw-data>
    </div>
  </div>

</div>