<monapt-card [title]="title" iconClasses="fas fa-chart-pie">

  <div style="display: flex; flex-direction: row;">
      <div>
          <canvas baseChart
              [data]="data"
              [options]="config.options"
              [labels]="labels"
              [colors]="config.colors"
              [chartType]="config.chartType"
              [legend]="config.legend"
          ></canvas>
      </div>
      <div style="flex-grow: 1;">
          <div style="height:100%; display: flex; flex-direction: column; justify-content: space-evenly;">
                  <p *ngFor="let c of legend()"><i class="fas fa-tag" [style.color]="c.color"></i> {{c.label}}:  {{c.value}}</p>
          </div>
      </div>
  </div> 

</monapt-card>