<monapt-navbar></monapt-navbar>


<div class="card">
  <div class="card-body">
    <div style="width:100%; height: 668px">
      <monapt-leaflet 
        [center]="center" 
        [features]="features">
      </monapt-leaflet>
    </div>    
  </div>
</div>

<footer style="padding: 2em; font-size: smaller; text-align: center">
  <p>
    Ce site internet a été réalisé par <a target="_blank" href="https://twitter.com/simonhege">Simon HEGE</a> dans le cadre du concours 
    Datavizz organisé lors des assises du transport aérien par la 
    <a target="_blank" href="https://www.ecologique-solidaire.gouv.fr/direction-generale-laviation-civile-dgac">Direction Générale de l'Aviation Civile (DGAC)</a>.
  </p>
</footer>