<monapt-card [title]="title" iconClasses="fas fa-table">

  <table class="table table-sm">
    <thead>
      <tr>
        <th *ngFor="let l of labels">{{l}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of data.slice((page-1)*pageSize, page*pageSize)">
        <td *ngFor="let v of r">{{v}}</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination class="d-flex justify-content-center"  [collectionSize]="data.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" aria-label="Pagination"></ngb-pagination>

</monapt-card>