<div class="container-fluid" style="margin-top:1em;">
  <div class="row">
    <div class="col-lg-6">
      <monapt-card-pie-chart title="Répartition des vols" [suffix]="getChartSuffix()" [labels]="keyFiguresLabels" [data]="keyFiguresValues"  >
      </monapt-card-pie-chart>

      <monapt-card-map [selectedAirport]="selectedAirport$ | async" title="Principales destinations" [features]="mapFeatures" >
      </monapt-card-map>
    </div>
    <div class="col-lg-6">
      <!--
      <monapt-card title="Configuration" iconClasses="fas fa-cogs">
        Année: {{year}}
      </monapt-card> -->

      <monapt-card-line-chart title="Evolution du traffic" [labels]="evolutionLabels" [datasets]="evolutionDatasets">
      </monapt-card-line-chart>


    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <monapt-card-raw-data title="Données brutes" [labels]="labels" [data]="cube.rows">
      </monapt-card-raw-data>
    </div>
  </div>
</div>